<footer id="site-footer-root" class="bg-neutral-primary-soft">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0 md:me-10">
              <a href="index.html" class="flex items-center">
                  <img src="images/koala-logo.svg" class="h-7 me-3 pl-[0px]" alt="Koala Logo" />
              </a>
              <div class="mt-4 pl-[4px] space-y-3 text-body text-base">
                  <div class="flex items-start gap-3">
                      <svg class="w-5 h-5 shrink-0 -mt-0 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"/></svg>
                      <span>hello@koala.legal</span>
                  </div>
                  <div class="flex items-start gap-3">
                      <svg class="w-5 h-5 shrink-0 -mt-0 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"/></svg>
                      <span>0114 489 1169</span>
                  </div>
                  <div class="flex items-start gap-3">
                      <svg class="w-5 h-5 shrink-0 -mt-0 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"/></svg>
                      <span>Unit F6/7 Leah's Yard<br>22 Cambridge St<br>Sheffield<br>S1 4HP</span>
                  </div>
              </div>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3 text-left">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-heading">Explore</h2>
                  <ul class="text-body font-medium">
                      <li class="mb-4">
                          <a href="index.html" class="hover:underline">Home</a>
                      </li>
                      <li class="mb-4">
                          <a href="estate-agents.html" class="hover:underline">Estate Agents</a>
                      </li>
                      <li>
                          <a href="property-investors.html" class="hover:underline">Property Investors</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-heading">Follow us</h2>
                  <ul class="text-body font-medium">
                      <li class="mb-4">
                          <a href="https://www.facebook.com/koalahq" class="hover:underline">Facebook</a>
                      </li>
                      <li class="mb-4">
                          <a href="https://www.instagram.com/koala_hq" class="hover:underline">Instagram</a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/company/koalahq" class="hover:underline">LinkedIn</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-heading">Legal</h2>
                  <ul class="text-body font-medium">
                      <li class="mb-4">
                          <a href="privacy-policy.html" class="hover:underline">Privacy Policy</a>
                      </li>
                      <li class="mb-4">
                          <a href="terms-of-engagement.html" class="hover:underline">Terms of Engagement</a>
                      </li>
                      <li>
                          <a href="cookie-consent.html" class="hover:underline">Cookie consent</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-default sm:mx-auto lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-xs text-body text-left pl-[35px]">Koala is the trading name of Koala Legal Ltd | Company no. 16599799 | VAT no. GB505744691<br>Koala is regulated by the CLC | License no. [PLACEHODLER]<br>© 2026 Koala Legal Ltd. All rights reserved. </span>
          <div class="flex mt-4 sm:justify-center sm:mt-0">
            <a href="https://www.facebook.com/koalahq" class="text-body hover:text-heading" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/></svg>
            </a>
            <a href="https://www.instagram.com/koala_hq" class="text-body hover:text-heading ms-5" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/></svg>
            </a>
            <a href="https://www.linkedin.com/company/koalahq" class="text-body hover:text-heading ms-5" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/><path d="M7.2 8.809H4V19.5h3.2V8.809Z"/></svg>
            </a>
          </div>
      </div>
    </div>
</footer>
